@font-face {
  font-family: 'Gotham Pro';
  src: url('fonts/GothamPro/GothamPro-Bold.woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('fonts/Graphik/Graphik-Regular-Web.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('fonts/Graphik/Graphik-Medium-Web.woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('fonts/Graphik/Graphik-Bold-Web.woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('fonts/Graphik/Graphik-Black-Web.woff');
  font-weight: 900;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Graphik";
  font-size: 10px;
}
section {
  position: relative;
  padding: 60px 20px;
}
.wrapper {
  margin: 0 auto;
  max-width: 1100px;
}
.wrapper p {
  font-size: 1.8em;
  line-height: 1.6em;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 24px 23px 24px 55px;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}
nav {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}
nav .icon_menu {
  display: none;
}
a {
  color: #333;
  text-decoration: none;
  font-size: 1.4em;
  font-family: 'Graphik';
  font-weight: 700;
}
.main_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main_text svg {
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  color: #fff;
  background: linear-gradient(285.05deg, #5C9FF9 -16.34%, #0058DC 97.2%), #C4C4C4;
  border-radius: 3px;
  padding: 0 19px 0 20px;
  line-height: 3.4em;
  cursor: pointer;
}
.btn svg {
  margin-left: 15px;
}
.btn_transparent {
  color: #005DE8;
  border: 1px solid #005DE8;
  background: transparent;
}
.btn_white {
  color: #005DE8;
  border: none;
  background: transparent;
  margin-top: 50px;
  padding: 0;
  cursor: pointer;
}
.bg {
  background: url('img/main_bg.jpg') no-repeat center;
  background: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}
.info_block {
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative;
}
.info_block .btn {
  font-family: "Graphik";
  font-size: 1.3em;
  font-weight: 700;
  text-decoration: none;
}
.info_block p {
  font-family: "Graphik";
  font-size: 1.8em;
  font-weight: 400;
  margin-bottom: 120px;
}
.info_block:before {
  content: url("img/square.svg");
  position: absolute;
  width: 53px;
  height: 53px;
  bottom: -20%;
  left: 20%;
}
.info_block:after {
  content: url("img/round_small.svg");
  position: absolute;
  width: 48px;
  height: 48px;
  top: -25%;
  left: 5%;
}
h1 {
  font-family: "Graphik";
  font-size: 5.8em;
  font-weight: 700;
  margin-right: 160px;
  text-align: left;
}
h2 {
  font-family: "Graphik";
  font-size: 4.5em;
  font-weight: 900;
  text-align: left;
  margin-bottom: 40px;
}
h3 {
  font-family: "Graphik";
  font-size: 3.6em;
  font-weight: 900;
  text-align: left;
  margin-bottom: 40px;
}
h5 {
  font-family: "Graphik";
  font-size: 1.8em;
  line-height: 34px;
  font-weight: 700;
}
h6 {
  font-family: "Graphik";
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 20px;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}
.text:after {
  content: url("img/round-big.svg");
  position: absolute;
  width: 128px;
  height: 128px;
  bottom: 7%;
  right: -10%;
}
.mouse {
  position: absolute;
  bottom: 65px;
  right: 0;
  left: 0;
  margin: auto;
}
.statistika {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 55px 0;
}
.item_statistika {
  display: flex;
  align-items: center;
  max-width: 300px;
}
.item_statistika svg {
  margin-right: 20px;
}
.width_p {
  width: 70%;
}
.bg_black {
  color: white;
  background: #1b1b1b;
  overflow: hidden;
  position: relative;
}
.bg_black .btn_transparent {
  color: white;
  border: 1px solid white;
  margin-top: 30px;
}
.round_left {
  background: url('img/Group\ 2.3.svg') no-repeat;
  position: absolute;
  width: 85%;
  height: 100%;
  top: 0;
  left: 0;
}
.round_right {
  background: url('img/Group\ 3.svg') no-repeat center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
.direction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.narrow {
  width: 50%;
}
.direction_item {
  width: 238px;
  height: 238px;
  color: #1b1b1b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.direction_item p {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.direction_item svg {
  fill: #0058DC;
  margin-bottom: 25px;
}
.direction_item:hover {
  background: linear-gradient(285.05deg, #5C9FF9 -16.34%, #0058DC 97.2%), #C4C4C4;
  color: white;
}
.direction_item:hover svg {
  fill: white;
}
.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 288px;
  height: 502px;
  padding: 0 20px;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  color: #fff;
  text-align: center;
}
.project_item h6,
.project_item p,
.project_item img,
.project_item svg {
  z-index: 1;
}
.bg1 {
  background: url('img/image.jpg') no-repeat;
}
.bg1:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: rgba(51, 51, 51, 0.6);
  backdrop-filter: blur(5px);
  border-radius: 5px;
}
.bg2 {
  background: url('img/image 2-1.jpg') no-repeat;
}
.bg2:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: rgba(51, 51, 51, 0.6);
  backdrop-filter: blur(5px);
  border-radius: 5px;
}
.bg3 {
  background: url('img/image 3.jpg') no-repeat;
}
.bg3:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: rgba(51, 51, 51, 0.6);
  backdrop-filter: blur(5px);
  border-radius: 5px;
}
.tehnologi {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 50px;
}
.tehno_item {
  width: 181px;
  height: 181px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.04);
  border: 1px solid transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto 30px;
}
.tehno_item p {
  color: #828282;
  font-size: 1.4em;
  line-height: 26px;
  text-align: center;
}
.tehno_item:hover {
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
}
footer {
  background: #1b1b1b;
  color: white;
  padding: 60px 20px;
}
footer .wrapper p {
  font-size: 1.4em;
}
footer a {
  color: white;
  font-weight: normal;
}
footer .btn {
  margin-bottom: 28px;
}
footer h5 svg {
  margin: 0 10px 0 -17px;
}
footer .form {
  margin-right: 10px;
}
footer hr {
  border: 1px solid rgba(255, 255, 255, 0.25);
  margin: 20px 0;
}
.group_logo {
  max-width: 100%;
}
.all_footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 25px;
  font-weight: normal;
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}
.contacts a {
  margin-left: 27px;
}
.contacts a svg {
  margin-left: -24px;
}
.geometka {
  margin-right: 10px;
}
.ps_footer {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1300px) {
  nav {
    width: 100%;
  }
  .info_block {
    grid-template-columns: 1fr 1fr;
  }
  h1 {
    margin-right: 20px;
  }
  .text:after {
    right: 0%;
  }
}
@media screen and (max-width: 1000px) {
  .direction {
    justify-content: space-around;
  }
  .project {
    flex-direction: column;
  }
  .project_item {
    margin-bottom: 40px;
  }
  .tehnologi {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .statistika {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .width_p {
    width: 100%;
  }
  nav {
    justify-content: flex-end;
  }
  nav a {
    display: none;
  }
  nav .icon_menu {
    display: block;
    font-size: 50px;
    margin: 0 20px;
  }
}
@media screen and (max-width: 900px) {
  .all_footer {
    grid-template-columns: 1fr 1fr;
  }
  .geometka {
    margin-top: 40px;
  }
}
@media screen and (max-width: 800px) {
  .text:after {
    display: none;
  }
  .info_block:before {
    display: none;
  }
  .info_block:after {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .tehnologi {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .statistika {
    flex-wrap: wrap;
    justify-content: center;
  }
  .item_statistika {
    margin-bottom: 30px;
  }
  .info_block {
    grid-template-columns: 1fr;
  }
  h1 {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 600px) {
  nav .btn {
    display: none;
  }
  .tehnologi {
    grid-template-columns: 1fr 1fr;
  }
  .info_block p {
    margin-bottom: 60px;
  }
  .round_left {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .tehnologi {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 500px) {
  .all_footer {
    text-align: center;
    line-height: 25px;
    grid-template-columns: 1fr ;
  }
  .contacts {
    margin-top: 40px;
  }
  .round_right {
    display: none;
  }
  .narrow {
    width: 100%;
  }
}
